@import "../../assets/Styles/media.scss";
@import "../../assets/Styles/media.scss";

.postContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.buttons {
  width: 35%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  .disabled {
    background-color: white;
    padding: 10px 30px;
    color: #2f956d;
    border: 1px solid #2f956d;
    font-size: 21px;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: #2f956d;
      border: #2f956d;
    }
  }
  .active {
    padding: 10px 30px;
    color: white;
    border: 1px solid #2f956d;
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
    background-color: #2f956d;
  }
}

.mainContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  .leftSide {
    width: 500px;
    height: 260px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/Images/avocado.jpg");
  }
  .rightSide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 550px;
    h2 {
      font-size: 21px;
      color: #1a6692;
      font-weight: 600;
      margin-bottom: 15px;
      font-family: "Open Sans", Arial, sans-serif;
      padding-bottom: 20px;
    }
    span {
      display: flex;
      text-align: left;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 17px;
      font-weight: 500;
      line-height: 30px;
    }
    .btn {
      margin: 5px 15px;
      padding: 10px 30px;
      font-size: 17px;
      font-weight: light;
      color: #626364;
      background-color: transparent;
      border: 1px solid #ccc;
      &:hover {
        background-color: #626364;
        color: white;
      }
    }
    .button {
      display: flex;
    }
  }
}

@media (max-width: $breckpoint_xxl) {
  .postContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
  }
  .mainContainer {
    .leftSide {
      width: 50%;
    }
    .rightSide {
      width: 45%;
      margin-left: 15px;
    }
  }
  .buttons {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: $breckpoint_xl) {
  .postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .mainContainer {
    width: 100%;
    .leftSide {
      width: 45%;
      height: 200px;
    }
    .rightSide {
      width: 50%;
      .button {
        width: 100%;
        display: flex;
        justify-content: end;
      }
    }
  }
  .buttons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: $breckpoint_md) {
  .postContainer {
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .leftSide {
      margin: 0 auto;
      width: 80%;
    }
    .rightSide {
      margin: 10px auto;
      width: 80%;
      justify-content: end;
      padding: 10px auto;
      .button {
        margin-top: 10px;
        width: 100%;
        justify-content: end;
      }
    }
  }
  .buttons {
    width: 0%;
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: $breckpoint_sm) {
  .postContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .mainContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    .leftSide {
      width: 100%;
    }
    .rightSide {
      width: 100%;
      display: flex;
      padding: 10px;
      .button {
        width: 100%;
        display: flex;
        padding-top: 10px;
        justify-content: end;
      }
    }
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
