.postContainer {
  margin: auto 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.buttons {
  width: 35%;
  height: 50px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  .disabled {
    background-color: white;
    padding: 10px 30px;
    color: #2f956d;
    border: 1px solid #2f956d;
    font-size: 21px;
    font-weight: 400;
    background-color: transparent;
    &:hover {
      color: white;
      background-color: #2f956d;
      border: #2f956d;
    }
  }
  .active {
    padding: 10px 30px;
    color: white;
    border: 1px solid #2f956d;
    font-size: 21px;
    font-weight: 400;
    background-color: #2f956d;
    &:hover {
      color: #2f956d;
      background-color: transparent;
    }
  }
}

.mainContainer {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  .leftSide {
    width: 500px;
    height: 250px;
    background-image: url("../../assets/Images/avocado.jpg");
    margin: 0 auto;
  }
  .rightSide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
    height: 250px;
    margin: 0 auto;
    h2 {
      font-size: 21px;
      color: #1a6692;
      font-weight: 600;
      margin-bottom: 15px;
      font-family: "Open Sans", Arial, sans-serif;
      padding-bottom: 20px;
    }

    span {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 17px;
      font-weight: 500;
      line-height: 30px;
    }
    .btn {
      margin: 5px 15px;
      padding: 10px 30px;
      font-size: 17px;
      font-weight: light;
      color: #626364;
      background-color: transparent;
      border: 1px solid #ccc;
      &:hover {
        background-color: #626364;
        color: white;
      }
    }
    .button {
      display: flex;
    }
  }
}

@media screen and (max-width: 991px) {
  .mainContainer {
    width: 100%;
    .leftSide {
      width: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 250px;
    }
    .rightSide {
      width: 50%;
      height: 250px;
      padding-left: 10px;
      position: relative;
      .button {
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .rightSide {
        width: 100%;
        height: max-content;
        h2 {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .mainContainer {
    width: 100%;
    .leftSide {
      width: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 250px;
    }
    .rightSide {
      width: 50%;
      height: 250px;
      padding-left: 10px;
      position: relative;
      .button {
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .rightSide {
        width: 100%;
        height: max-content;
        h2 {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .mainContainer{
    width: 600px;
    height: max-content;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    .leftSide{
      width: 100%;
      height: 300px;
      background-size: cover;
    }
    .rightSide{
      width: 100%;
      height: 300px;
    }
  }
  .postContainer{
    width: 70%;
    margin: 10px  auto 30px auto;
  }
  .buttons{
    width: 50%;
    margin: 20px auto;
  }
}

