@import "../../../../assets/Styles/media.scss";

.container {
  width: 500px;
  display: flex;
  margin: 30px auto;
  .leftSide {
    width: 160px;
    height: 262px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .rightSide {

    width: 330px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: column;
    line-height: 1;
    margin-left: 20px;
    .name {
      font-size: 26px;
      color: #09c;
    }
    .proffesion {
      color: #c39;
      padding-bottom: 40px;
      font-weight: 600;
    }
    .bio {
      color: #626364;
      line-height: 1.8;
      font-weight: 600;
      margin-bottom: 50px;
    }
    .socialIcons {
      width: 100%;
      a {
        div {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: $breckpoint_xxl) {
  .container {
    width: 450px;
    display: flex;
  }
}

@media (max-width: $breckpoint_xl) {
  .container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    .leftSide {
      max-width: 200px;
      height: 320px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .rightSide {
      width: 70%;
      margin: 0;
    }
    h2 {
      margin: 15px 20px;
    }
    span {
      margin: 15px 20px;
    }
    .socialIcons {
      margin: 15px 20px;
    }
  }
}

@media (max-width: $breckpoint_md) {
  .container {
    width: 100%;
    display: flex;
  }
}
@media (max-width: $breckpoint_sm) {
  .container {
    width: 100%;
    margin: 0;
  }
}
