@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&family=Roboto:ital@1&display=swap");
@import "./media.scss";

.G-Container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.g-backgroundimg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: $breckpoint_xxl) {
  .G-Container {
    width: 100%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
  }
}
@media (max-width: $breckpoint_xl) {
  .G-Container {
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
  }
}

@media (max-width: $breckpoint_md) {
  .G-Container {
    max-width: 100%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
  }
}

@media (max-width: $breckpoint_sm) {
  .G-Container {
    width: 100%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
  }
}
